body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #bc1c02;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
}

.header-content img {
    width: 67px;
    height: auto;
    margin-right: 30px;
}

header h1{
    font-size: 32px;
    font-weight: bold;
}

nav{
    display: flex;
    justify-content: center;
    background-color: white;
    margin-right: 40px;
    margin-left: 40px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    margin: 0;
}

nav ul li {
    margin: 0 10px;
    position: relative;
}

nav ul li a:nth-child(n+9){
    flex-basis: 100%;
    text-align: center;
}

nav ul li a {
    color: #bc1c02;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #e73718;
    text-decoration: none;
    color: #ffff;
}

/* Adding border to each menu item except the last one */
nav ul li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    height: 50%;
    border-right: 1px solid #bc1c02;
}

/* Dropdown */
.dropdown-menu {
    display: none; /* Dropdown sembunyi secara default */
    position: absolute; /* Posisi absolut agar dropdown muncul tepat di bawah menu induk */
    background-color: white; /* Warna latar belakang dropdown */
    border-radius: 5px; /* Sudut dropdown */
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block; /* Tampilkan dropdown saat menu utama dihover */
}

.dropdown-menu a {
    color: #bc1c02; /* Warna teks dropdown */
    display: block;
    padding: 10px 15px; /* Padding pada setiap elemen dropdown */
    text-decoration: none; /* Menghilangkan garis bawah pada tautan dropdown */
    text-align: left; /* Rata kanan teks dropdown */
}

.dropdown-menu a:hover {
    background-color: #e73718; /* Warna latar belakang saat tautan dropdown dihover */
    color: white;
}

.dropdown-item{
    color: #bc1c02;
}


main {
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 45px;
}

h2 {
    font-size: 32px;
    margin-bottom: 45px;
    color: #b51e1e;
    font-weight: bold;
}

.content-box {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px rgba(0.1, 0.1, 0.15, 0.15);
    max-width: 1200px;
}

.content {
    padding: 20px;
}

.content p {
    font-size: 20px;
    text-align: justify;
    margin-bottom: 10px;
}

.table-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

label, select, .table-controls span {
    margin-right: 10px;
}

input[type="search"] {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

a {
    color: #b51e1e;
    text-decoration: none;
}

footer {
    background-color: #b22222;
    color: white;
    padding: 20px 0;
    margin-top: 90px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 20px;
}

.footer-left {
    max-width: 40%;
}

.footer-left .logo {
    width: 125px;
    height: 158px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
}

.footer-center{
    text-align: left;
    font-size: 20px;
    margin-bottom: 20px;
}

.footer-center h1{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-center .ikon {
    width: auto;
    height: 26px;
    margin-right: 20px;
    margin-bottom: 10px;
    display: flex;
}

.footer-center .item{
    align-items: left;
    display: flex;
    font-size: 20px;
    margin-bottom: 20px;
}

.footer-center .item p{
    text-align: left;
}

.footer-right {
    max-width: 33%;
    margin-right: 40px;
}

.footer-right p {
    margin-bottom: 10px;
    text-align: justify;
    font-size: 20px;
    margin-left: 0%;
}

.footer-right form {
    display: flex;
    flex-direction: column;
}

.footer-right input {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.footer-right textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    height: 115px;
}

.footer-right button {
    width: 179px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #b22222;
    color: #ffffff;
    border-color: #ffffff;
    border-style: solid;
    cursor: pointer;
    margin-left: auto;
}

.footer-right button:hover {
    background-color: hsl(0, 96%, 29%);
}